<h1>Users Show</h1>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="offset1 span4">
          <div class="well sidebar-nav">
           
              <%= form_for(@tweet) do |f| %>
            <p>
              <%= f.label(:tweet) %>
              <%= f.text_field(:content) %>
            </p>
            <p>
              <%=f.submit('Post Tweet') %>
            </p>
             <% end %>

          </div><!--/.well -->
        </div><!--/span-->

        <div class="span6">
          <% @tweets.each do |tweet| %>
            <div class="content">
              <%= tweet.content %>
              <% end %>
            </div>
        </div><!--/span-->
      </div>
    </div>